<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cloasis</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <link rel="stylesheet" href="dist/css/style.css">

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/home" class="brand-link">
      <img src="dist/img/cloasis_logo.jpeg" alt="Cloasis Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Cloasis</span>
    </a>

    <div class="sidebar">
      
      <div class="form-inline">
        <div class="search-c">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>
      </div>

      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        

          
          <!-- Add single button to sidebar -->
          <li class="nav-item">
            <a href="/home" class="nav-link">
              <i class="nav-icon fas fa-dot-circle"></i>
              <p>Home</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_course" class="nav-link">
              <i class="nav-icon fas fa-dot-circle"></i>
              <p>Add Course</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_student" class="nav-link">
              <i class="nav-icon fas fa-dot-circle"></i>
              <p>Add Student</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/add_assignment" class="nav-link">
              <i class="nav-icon fas fa-dot-circle"></i>
              <p>Add Assignment</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/view_assignments" class="nav-link">
              <i class="nav-icon fas fa-dot-circle"></i>
              <p>View Assignments</p>
            </a>
          </li>

          <li class="nav-item">
            <a href="/my_courses" class="nav-link">
                <i class="nav-icon fas fa-dot-circle"></i>
                <p>My courses</p>
            </a>
        </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-question-circle"></i>
              <p>Help</p>
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              
              <!-- To edit -->
              <li class="breadcrumb-item"><a href="#">home</a></li>
              <li class="breadcrumb-item active">Cloasis</li>
            </ol>
          </div>
        
        </div>

        <!-- Main elements in page (Edit start here) -->

        <!-- Start Form -->
        <div class="login-element">
            <div class="col">
              <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Test Form</h3>
                  </div>
                  <form action="/test" method="post">
                    <div class="card-body">

                      <!-- Text Field -->
                      <div class="form-group">
                        <label for="test1">Test 1</label>
                        <input type="text" class="form-control" id="test1" name="test" placeholder="TEST">
                      </div>
                      
                      <!-- Password Field -->
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                      </div>

                    </div>
                    
                    <!-- Submit Button -->
                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                  </form>
                </div>
          </div>
        </div> 
        <!-- End Form -->
              
        <!-- Edit stop here-->
      </div>
    </div>         
  </div>

  <aside class="control-sidebar control-sidebar-dark">
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>

  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
     By Cloasis-2
    </div>
    <strong>Copyright &copy; 2022 <a href="#">Cloasis</a>.</strong> All rights reserved.
  </footer>
</div>


<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="dist/js/adminlte.min.js"></script>
</body>
</html>
